.header-section {
    height: 6rem;
}

body {
    background-color: rgba(128, 128, 128, 0.158);
}

:focus{
    outline: none;
}
/*--------------三本線-----------*/

/*チェックボックスを見えないようにする*/

#menu-btn-check {
    display: none;
}

/*□を作成*/

.menu-btn {
    position: fixed;
    top: 10px;
    left: 10px;
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    z-index: 90;
    background-color: rgb(53, 96, 246);
    border-radius: 10px;
    box-shadow: black 5px 5px 12px 0;
}

/*三本線を作成*/

.menu-btn span {
    content: '';
    display: block;
    height: 2px;
    width: 25px;
    border-radius: 3px;
    background-color: #ffffff;
    position: absolute;
}

.menu-btn span:before {
    content: '';
    display: block;
    height: 2px;
    width: 15px;
    border-radius: 3px;
    background-color: #ffffff;
    position: absolute;
}

.menu-btn span:after {
    content: '';
    display: block;
    height: 2px;
    width: 10px;
    border-radius: 3px;
    background-color: #ffffff;
    position: absolute;
}

.menu-btn span:before {
    bottom: 8px;
}

.menu-btn span:after {
    top: 8px;
}

/*×ボタンを作成*/

#menu-btn-check:checked~.menu-btn span {
    background-color: rgba(255, 255, 255, 0);
    /*メニューオープン時は真ん中の線を透明にする*/
}

#menu-btn-check:checked~.menu-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
    width: 25px;
}

#menu-btn-check:checked~.menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
    width: 25px;
}

/*×ボタンを実装*/

.menu-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 80;
    background-color: #3584bb;
}

.menu-content ul {
    padding-top: 8rem;
}

.menu-content ul li {
    list-style: none;
    text-align: center;
}

.menu-content ul li a {
    display: block;
    width: 100%;
    font-size: 1.5rem;
    box-sizing: border-box;
    color: rgb(53, 96, 246);
    font-weight: bold;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 2rem 15px 10px 0;
    /*position: relative;*/
}

/*.menu-content ul li a::before {
    content: "";
    width: 7px;
    height: 7px;
    border-top: solid 2px #ffffff;
    border-right: solid 2px #ffffff;
    transform: rotate(45deg);
    position: absolute;
    right: 11px;
    top: 16px;
}*/

/*ボタンを押したらメニューが出てくるようにする*/

.menu-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 100%;
    /*leftの値を変更してメニューを画面外へ*/
    z-index: 80;
    background-color: white;
    transition: all 0.5s;
    /*アニメーション設定*/
}

/*ボタンがタップされたとき、すなわちチェックボックスにチェックがついたとき、メニューが画面に表示*/

#menu-btn-check:checked~.menu-content {
    right: 0;
    /*メニューを画面内へ*/
    background-color: white;
}

.header-title {
    position: fixed;
    left: 80px;
    top: 20px;
}

.header-title h1 {
    font-size: 2rem;
    box-sizing: border-box;
    color: rgb(53, 96, 246);
    font-weight: bold;
}

/*-----検索エリア-------------*/

.search-contents {
    display: flex;
    position: fixed;
    top: 6rem;
    right: 5%;
    background-color: #FFF;
    width: 90%;
    height: 40px;
    border-radius: 5px;
    box-shadow: rgb(124, 124, 124) 2px 2px 10px 0px;
}

/*--プルダウンボタンデザイン--*/

.area, .genle{
    display: flex;
    align-items: center;
    position: relative;
    width: 25%;
}


.search {
    display: flex;
    align-items: center;
    position: relative;
    width: 50%;
    border: none;
    padding-left: 5px;
}

.search lavel {
    padding: 0;
    border: none;
    background-color: #FFF;
}
.search lavel img {
    width: 20px;
    height: 20px;
}
select {
    -webkit-appearance: none;
    appearance: none;
    /* デフォルトのスタイルを無効 */
    border-radius: 0;
    
    padding-left: 8px;
    height: 30px;
    width: 100px;  
    border: none;
    border-right:1px solid #E2E2E2;
    
}

/* セレクトボックスの矢印デザイン変更 */

select {
    background-image: url(../img/pulldown.png);
    background-position: right 5px center;
    background-repeat: no-repeat;
    background-size: 7px 5px;
}


/*---店舗一覧---*/
.main-section{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 80px;
}


.shop-list {
    padding: 20px;
    width: 90%;
    box-sizing: border-box;
    margin: auto;
}

.shop-wrap{
    background-color: white;
    border-radius: 10px;
    box-shadow: rgb(124, 124, 124) 2px 2px 10px 0px;
}
.shop-img img{
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

.shop-detail h1{
    padding: 10px 10px;
}
.shop-detail p{
    font-size: 0.7rem;
    padding-bottom: 10px;
    padding-left: 10px;
}
span{
    padding-right: 5px;
    font-size: 0.7rem;
}

.shop-button img{
    width: 23.2px;
    height: 20px;
}

.shop-button{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 10px;
}
.shop-button button{
   background-color: rgb(53, 96, 246);
   color: white;
   border: none;
   border-radius: 5px;
}

/* タブレット版　ショップリスト　*/
@media screen and (min-width:780px) {
    .main-section{
        display: flex;
        flex-wrap: wrap;
        flex-direction:row;
        justify-content: flex-start;
    }
    
    
    .shop-list {
        padding: 20px;
        width: 50%;
        box-sizing: border-box;
        margin: auto;
    }
}
/*----星設定------*/
.star5_rating{
    position: relative;
    z-index: 0;
    display: inline-block;
    white-space: nowrap;
    color: #CCCCCC; /* グレーカラー 自由に設定化 */
    font-size: 1rem; /*フォントサイズ 自由に設定化 */
}

.star5_rating:before, .star5_rating:after{
    content: '★★★★★';
}
.star p{
font-size: 0.8rem;
}
.star5_rating:after{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: hidden;
    white-space: nowrap;
    color: #ffcf32; /* イエローカラー 自由に設定化 */
}

.star5_rating[data-rate="5"]:after{ width: 100%; } /* 星5 */
.star5_rating[data-rate="4.5"]:after{ width: 87%; } /* 星4.5 */
.star5_rating[data-rate="4"]:after{ width: 80%; } /* 星4 */
.star5_rating[data-rate="3.5"]:after{ width: 66%; } /* 星3.5 */
.star5_rating[data-rate="3"]:after{ width: 60%; } /* 星3 */
.star5_rating[data-rate="2.5"]:after{ width: 47%; } /* 星2.5 */
.star5_rating[data-rate="2"]:after{ width: 40%; } /* 星2 */
.star5_rating[data-rate="1.5"]:after{ width: 37%; } /* 星1.5 */
.star5_rating[data-rate="1"]:after{ width: 20%; } /* 星1 */
.star5_rating[data-rate="0.5"]:after{ width: 7%; } /* 星0.5 */
.star5_rating[data-rate="0"]:after{ width: 0%; } /* 星0 */
/* pc版　ショップリスト　*/
@media screen and (min-width:1080px) {
    .search-contents{
        top:1.2rem;
    }
    .area, .genle{
        width: 100px;
    }
    select {
        background-image: url(../img/pulldown.png);
        background-position: right 10px center;
        background-repeat: no-repeat;
        background-size: 10px 7px;
    }
    
    .search {
        width: 200px;
    }
    
    .search-contents {
        width: auto; 
    }
    
    .main-section{
        display: flex;
        flex-wrap: wrap;
        flex-direction:row;
        justify-content: flex-start;
    }
    
    
    .shop-list {
        padding: 20px;
        width: 20%;
        box-sizing: border-box;
        margin: auto;
    }

}